<router-outlet></router-outlet>
<!-- 

<div class="home-module">
  
  <div class="out-let">
  </div>
</div>

<div class="home-grid">
  <div class="">

  </div>

</div>


<div class="overlay" *ngIf="loadingUx && loadingUx.Loading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h3 *ngIf="loadingUx.Message">
      {{loadingUx.Message}}
    </h3>
  </div>

</div>


<div class="pop" *ngIf="message">
  <p>
    {{message}}
  </p>
  <div class="">
    <span class="material-icons" (click)="message = ''">
      close
    </span>
  </div>
</div>

<footer>
  <div class="grid">
    <div class="col">
      <p>Powered by Tybo Marketplace</p>
    </div>
    <div class="col">
      <img src="assets/images/common/payments.png" alt="">
    </div>
  </div>
</footer> -->
